.elements {
  padding: 51px 0 67px 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
  font-size: 0;
  max-width: 880px;
  margin: 0 auto;
}

@media (max-width: 919px) {
  .elements {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .elements {
    padding: 36px 19px 48px 19px;
  }
}
